<br />
<br />
<br />


<section id="about">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>¿Como puedo usar la realidad aumentada en mi dispositivo?</h2>
                        <br />
                        <p class="lead">Mediante estos pasos, podrás descargar el lector QR que necesitas para acceder a la realidad aumentada de esta página</p>
                        <ul>
                            <li>Para descargar el aplicativo debes usar el siguiente código QR que te redirigira a la pantalla de descarga </li>
                            <br />
                            <br />
                            <li><img style=" width: 45%;" src="~/css/qr_img (2).png"/></li>
                            <br />
                            <br />
                            <li><img style=" width: 45%;" src="~/css/Imagenes_Productos/Index/Screenshot_1.jpeg"/></li>
                            <br />
                            <li>Una vez lo tengas descargado debes abrirlo desde su panel de notificaciones</li>
                            <br />
                            <li>Te saldrá una pantalla similar a esta, donde debes dar a instalar</li>
                            <br />
                            <li><img style=" width: 45%;" src="~/css/Imagenes_Productos/Index/Screenshot_2.jpeg"/></li>
                            <br />
                            <li>En caso de que esta ventana salga, debes darle permitir, la aplicación no es ninguna clase de virus pero Google Play Protect lo toma como tal</li>
                            <br />
                            <li><img style=" width: 45%;" src="~/css/Imagenes_Productos/Index/Screenshot_3.jpeg"/></li>
                            <br />
                            <li>Luego encontraras la aplicación lista para usar, abrela y dirigete a cualquiera de nuestras categorias para empezar a disfrutar la experiencia ! </li>
                            <br />
                            <li><img style=" width: 45%;" src="~/css/Imagenes_Productos/Index/Screenshot_4.jpeg"/></li>
                        </ul>
                    </div>
                </div>
            </div>
</section>

<br />
<br />
<br />